<div class="pagination">
    <span>{{ 'PAGINATION.SHOWING_PAGE' | translate: { current: currentPage(), total: totalPages() } }}</span>
    <div>
        <button type="button" [disabled]="currentPage() === 1" (click)="goToPage(currentPage() - 1)">
            {{ 'PAGINATION.PREVIOUS' | translate }}
        </button>
        @for (page of pages(); track page) {
            <button type="button" [class.active]="currentPage() === page" (click)="goToPage(page)">{{ page }}</button>
        }
        <button type="button" [disabled]="currentPage() === totalPages()" (click)="goToPage(currentPage() + 1)">
            {{ 'PAGINATION.NEXT' | translate }}
        </button>
    </div>
</div>
