* {
    box-sizing: border-box;
}
body {
    color: #000;
    background-color: #FAF8FF;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
ul {
    padding: unset;
    list-style: none;
}
a {
    color: unset;
    text-decoration: unset;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: unset;
}
button {
    border: unset;
    padding-block: unset;
    padding-inline: unset;
    background-color: unset;
}
